<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWELLIO</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id %>/edit" method="POST">
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br>
        <textarea name="listing[description]" value="<%= listing.description %>" type="text" ></textarea>
        <br>
        <input type="number" name="listing[price]" value="<%= listing.price %>" type="number">
        <br>
        <input type="text" name="listing[location]" value="<%= listing.location %>" type="text">
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>" type="text">
        <br>
        <button>Edit Listing</button>
    </form>    
</body>
</html>